RAZORPAY_KEY_ID=rzp_test_xxxxxxxxxxxxx
RAZORPAY_KEY_SECRET=xxxxxxxxxxxxxxxxxxxx
PORT=3000
PGHOST=localhost
PGPORT=5433
PGDATABASE=razorpay_test
PGUSER=postgres
PGPASSWORD=postgres
PGSSL=false
# DATABASE_URL=postgres://postgres:postgres@localhost:5432/razorpay_test
